body{
 animation: change-color 4s infinite alternate;
}
@keyframes change-color {
    0% {background-color: rgb(255, 203, 252);}
    50% {background-color: #84eafe;}
    100% {background-color: bisque;}
}

.title {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
    text-align: center;
    animation: skew 3s infinite alternate
}

@keyframes skew {
    0% {transform: skew(0deg, 0deg)}
    100% {transform: skew(30deg, 20deg)}
}
.square {
    background-color: purple;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 75px auto;
    transition: background-color 1s;
}

.square:hover {
    background-color: hotpink;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
    margin: 75px auto;
}

.button {
    background-color: pink;
    color: #d909d2;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: antiquewhite;
    color: black;
    transform: scale(1.5);
}

.loading {
    background-color: darkorchid;
    color: white;
    animation: stretch 5s infinite alternate;
}

@keyframes stretch {
    0% {width:100px}
    100% {width: 80vw}
}